# Gradle
.gradle/
/build/
local.properties

# Android
*.iml
.idea/
/captures/
.externalNativeBuild/
.cxx/

# Flutter
client/.dart_tool/
client/build/
client/.flutter-plugins
client/.flutter-plugins-dependencies

# Windows build artifacts
*.obj
*.ilk
*.pdb
*.suo
*.user
/msvs_cmake/

# macOS
.DS_Store

# Editor
.directory
*.swp
*~
